html {
    background-image: linear-gradient(to right, #f0a9cc, #d9afed, #b0e1ed);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.main-container {
    text-align: center;
}

h1 {
    font-size: 3em; /* Adjust size as needed */
    margin-bottom: 0.5em;
}

.search-container {
    position: relative;
    margin-bottom: 1em;
}

input[type="text"] {
    border: none;
    padding: 10px 20px;
    width: 40%; /* Adjust width as needed */
    border-radius: 20px;
}

button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: -45px; /* Overlap the button with the input field */
}

button.filled {
    background-color: #ff4757;
    color: white;
    border-radius: 20px;
}

button.outline {
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
}

p {
    margin-bottom: 2em;
}

.button-container button {
    margin: 0 10px;
}

.start-reading-btn {
    background-color: rgb(137, 205, 234);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 17px;
    margin-left: 2px;
  }  

.result-item {
    display: flex;
    align-items: center;  /* Centers items vertically */
    justify-content: space-between;  /* Spreads items across the main axis */
   
}
  
.result-content {
    flex-grow: 1; /* Allows the content to take up available space */
    padding-right: 20px; /* Adds some spacing between the content and the button */
}